@use "../config/config" as *;

.about {
    padding: 6.25rem 0;
    width: 100vw;
    @include flex-content(flex, center, center);
    position: relative;
    overflow-x: hidden;
    z-index: 1;
    background-color: var(--white-000);


    &.active::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--modal-bg);
        z-index: 2; 
        animation: overlay 1s var(--ease-in-out-quart);

        @keyframes overlay {
            0% {
                background-color: transparent;
            }
            100% {
                background-color: var(--modal-bg);
            }
        }
    }

    @media (max-width: 768px) {
        padding: 5rem 1.875rem;
    }

    @media (max-width: 375px) {
        padding: 3.75rem 1rem;
    }

    &__wrapper {
        text-align: center;
        max-width: 61%;

        @media (max-width: 768px) {
            max-width: 100%;
        }

        .about__heading {
            overflow: hidden;
            line-height: .9;
            margin-bottom: 3rem;

            span {
                font-size: clamp(1rem, 1.1vw, 1.2rem);
                text-transform: uppercase;
                color: var(--dark-green);
                font-family: var(--secondary-font);
                font-weight: 400;
                transform: translateY(0%);
                display: inline-block;
                will-change: transform
            }
        }

        .about__mainParagraph {
            @include flex-content(flex, null, null);
            flex-direction: column;
            margin-bottom: 3.5rem;

            .text__wrapper {
                overflow: hidden;
                line-height: 1.1;
                margin: .1rem 0;

                span {
                    font-family: var(--secondary-font);
                    color: var(--dark-green);
                    font-size: clamp(.95rem, 3vw, 2.87rem);
                    white-space: nowrap;
                    display: inline-block;
                    will-change: transform
                }
            }
        }

        .about__image {
            width: 100%;
            height: 15rem;
            border-radius: 10px;
            overflow: hidden;
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

            @media (max-width: 409px) {
                height: 9rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .about__paragraph {
            color: var(--light-green);
            font-family: var(--secondary-font);
            width: 73%;
            line-height: 1.6;
            margin: 3.5rem auto 3rem;
            font-size: clamp(.8rem, 1.6vw, 1rem);

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .modal__open {
            padding: 1.25rem 2.25rem;
            background-color: var(--green);
            color: var(--white);
            text-decoration: none;
            border-radius: .8rem;
            display: inline-block;
            outline: none;
            border: 0;
            cursor: pointer;
            transition: .5s var(--ease-out-cubic);

            &--wrapper {
                overflow: hidden;

                .char {
                    position: relative;
                    transition: .5s var(--ease-out-cubic);
                    font-size: clamp(.9rem, 1.1vw, 1.1rem);
                    font-family: var(--secondary-font);
    
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: attr(data-char);
                        transform: translateY(100%);
                    }
                }
            }   

            &:hover, &:focus {
                background-color: var(--light-green);
            }
            
            &:hover .char, &:focus .char {
                transform: translateY(-100%);
            }    
        }
    }

    .modal {
        position: absolute;
        right: -100%;
        top: 0;
        height: 100%;
        width: 50%;
        background-color: var(--white-000);
        padding: 3rem;
        @include flex-content(flex, flex-end, null);
        flex-direction: column;
        gap: 3rem;
        font-family: var(--secondary-font);
        color: var(--dark-green);
        transition: 1s var(--ease-in-out-quart);
        z-index: 3;

        @media (max-width: 879px) {
            padding: 1.5rem;
            width: 100%;
            @include flex-content(flex, flex-start, null);
        }

        @media (max-width: 550px) {
            gap: 1.5rem;
        }

        &.active {
            right: 0%;
        }

        &__button {
            position: absolute;
            top: 3rem;
            left: 3rem;

            @media (max-width: 879px) {
                bottom: 1rem;
                left: 1.5rem;
                top: unset;
            }
        }

        &__paragraph {
            font-size: clamp(.9rem, 1.8vw, 1.25rem);
            line-height: 1.5;
        }

        &__paragraph2 {
            font-size: clamp(.8rem, 1.2vw, 0.9rem);
            line-height: 1.5;
        }

        &__image {
            height: 15rem;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;

            @media (max-width: 1162px) {
                height: 10rem;
            }

            @media (max-width: 879px) {
                height: 15rem;
            }

            @media (max-width: 409px) {
                height: 9rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__button {
            background-color: transparent;
            border: 0;
            outline: none;
            background-color: var(--white);
            @include flex-content(flex, center, center);
            padding: .9rem;
            border-radius: 10px;
            cursor: pointer;

            img {
                width: 1rem;
                aspect-ratio: 1/1;
            }
        }
    }
}