@use "../config/config" as *;

/* Header section */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3rem 0;
    z-index: 3;

    &.active .navigation__link--image {
        filter: brightness(0) invert(1);
        opacity: 0.3!important;
    }

    &.active .list {
        opacity: 0.3!important;
    }

    @media (max-width: 863px) {
        padding: 2rem 1.5rem 0;
    }

    @media (max-width: 509px) {
        padding: 2rem 1rem 0;
    }

    .navigation {
        display: flex;
        @include flex-content(flex, space-between, center);
        
        

        &__link {
            text-decoration: none;
            
            &--image {
                filter: brightness(0) invert(1);
                width: 8.56rem;
                transform: translate(25%, -75%) rotateX(45deg);
                opacity: 0;
            }
        }

        .list {
            @include flex-content(flex, null, center);
            gap: 2rem;
            opacity: 0;
            transform: translateX(10%);

            @media (max-width: 799px) {
                display: none;
            }

            &__item {
                list-style: none;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    opacity: 0;
                    height: 2px;
                    transform: translateY(500%);
                    width: 100%;
                    background-color: var(--white);
                    transition: .8s var(--ease-out-cubic);
                }

                &:hover::before, &:focus::before {
                    opacity: 1;
                    transform: translateY(200%);
                }
          
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--white);
                    font-family: var(--secondary-font);
                    position: relative;
                    display: inline-flex;
                    overflow: hidden;

                    div {
                        position: relative;
                        transition: .9s var(--ease-out-quart);;
                        font-size: clamp(1rem, 1.1vw, 1.2rem);

                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            content: attr(data-char);
                            transform: translateY(100%);
                        }
                    }

                    &:hover div, &:focus div {
                        transform: translateY(-100%);
                    }            
                }
            }
        }

        .hamburger {
            width: 3rem;
            aspect-ratio: 1/1;
            border-radius: 10px;
            background-color: var(--beige);
            border: none;
            outline: none;
            position: relative;
            display: none;
            z-index: 1;

            @media (max-width: 799px) {
                @include flex-content(flex, center, center);
                flex-direction: column;
                gap: .3rem;
                transform: translate(-25%, -75%) rotateX(45deg);
                opacity: 0;
            }

            &__line {
                width: 35%;
                height: 2px;
                border-radius: 1.5px;
                background-color: var(--dark-green);
                transition: transform .5s;
                transform-origin: left;
            }

            &__line2 {
                transition: transform 1s ease;
                transform-origin: left;
                width: 35%;
                height: 2px;
                border-radius: 1.5px;
                background-color: var(--dark-green);
                transition: transform .5s;
                transform-origin: left;
            }

            &.active .hamburger__line2 {
                transform: rotate(-45deg) translateY(100%);
                transform-origin: left; 
            }

            &.active .hamburger__line {
                transform: rotate(45deg) translateY(-100%);
                transform-origin: left;
            }
        }
    }
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100vw;

    &.active::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--modal-bg);
        z-index: 3; 
        animation: overlay 1s var(--ease-in-out-quart);

        @keyframes overlay {
            0% {
                background-color: transparent;
            }
            100% {
                background-color: var(--modal-bg);
            }
        }
    }
}

/* Mobile navigation */ 
.mobile__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-green);
    z-index: 2;
    display: none;
    opacity: 0;

    @media (max-width: 799px) {
        @include flex-content(flex, null, flex-end);
        padding: 0 1.5rem 3rem;

        .nav__wrapper {
            width: 100%;

            ul {
                @include flex-content(flex, null, null);
                flex-direction: column;
                gap: 2rem;

                .list {
                    list-style: none;
                    overflow: hidden;

                    &__link {
                        color: var(--white);
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: var(--secondary-font);

                        span {
                            font-size: clamp(2.3rem, 6vw, 5rem);
                            font-weight: 400;
                            line-height: .8;
                            display: inline-block;
                            transform: translateY(0%);
                        }
                    }
                }

                .list__even {
                    margin: 0 0 0 auto;

                    .list__link {
                        font-family: var(--primary-font);
                    }
                }
            }
        }
    }
}

/* Hero section */ 
.hero {
    width: 100vw;
    height: 100vh;
    @include flex-content(flex, null, end);
    padding: 0 2.875rem 3.5rem;
    position: relative;
    z-index: 1;

    @media (max-width: 863px) {
        padding: 0 1.875rem 3rem;
    }

    @media (max-width: 509px) {
        padding: 0 1rem 3rem;
    }

    &__video--bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(7, 39, 39, 0.46) 0%, rgba(7, 39, 39, 0.66) 100%);
        z-index: -1;
    }

    .wrapper {
        max-width: 70%;

        @media (max-width: 509px) {
            max-width: 100%;
        }

        .hero__heading {
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;

            .heroline__container {
                overflow: hidden;
                margin: .3rem 0;

                &--text {
                    font-family: var(--secondary-font);
                    text-transform: uppercase;
                    font-size: clamp(2.1rem, 4.2vw, 4.1rem);
                    font-weight: 400;
                    line-height: .8;
                    padding-top: .3rem;
                    color: var(--white);
                    display: inline-block;
                    will-change: transform;
                }
            }

            .heroline__container2 {
                
                &--text {
                    font-family: var(--primary-font);
                    text-transform: uppercase;
                    font-size: clamp(2.1rem, 4.2vw, 4.1rem);
                    line-height: .8;
                    font-weight: 400;
                    padding-top: .3rem;
                    color: var(--white);
                    display: inline-block;
                    will-change: transform;
                }
            }
        }

        .hero__link {
            padding: 1.25rem 2.25rem;
            border: 1px solid var(--white);
            color: var(--white);
            text-decoration: none;
            border-radius: .8rem;
            display: inline-block;
            outline: none;
            transition: .5s var(--ease-out-cubic);

            &--wrapper {
                overflow: hidden;

                .attribute {
                    position: relative;
                    transition: .5s var(--ease-out-cubic);
                    font-size: clamp(.9rem, 1.1vw, 1.1rem);
                    font-family: var(--secondary-font);
    
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: attr(data-char);
                        transform: translateY(100%);
                    }
                }
            }   

            &:hover, &:focus {
                background-color: var(--white);
                color: var(--dark-green);
            }
            
            &:hover .attribute, &:focus .attribute {
                transform: translateY(-100%);
            }    
        }

    }
}

/* 404 error page */
.error__container {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    padding: 1.5rem 3rem 2.5rem;
    @include flex-content(flex, space-between, null);
    flex-direction: column;
    font-family: var(--secondary-font);
    color: var(--dark-green);

    @media (max-width: 768px) {
        padding: 1.5rem 1.5rem 2.5rem;
    }

    img {
        width: 8.56rem;
    }

    .error__heading {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;

        .errorline__container {
            overflow: hidden;

            &--text {
                font-family: var(--secondary-font);
                text-transform: uppercase;
                font-size: clamp(2.1rem, 4.2vw, 4.1rem);
                font-weight: 400;
                line-height: 1;
                padding-top: .3rem;
                transform: translateY(0%);
                display: inline-block;
            }
        }

        .errorline__container2 {
            
            &--text {
                font-family: var(--primary-font);
                text-transform: uppercase;
                font-size: clamp(2.1rem, 4.2vw, 4.1rem);
                line-height: .8;
                font-weight: 400;
                padding-top: .3rem;
                transform: translateY(0%);
                display: inline-block;
            }
        }
    }

    .error__link {
        padding: 1.25rem 2.25rem;
        border: 1px solid var(--dark-green);
        color: var(--dark-green);
        text-decoration: none;
        border-radius: .8rem;
        display: inline-block;
        outline: none;
        transition: .5s var(--ease-out-cubic);

        &--wrapper {
            overflow: hidden;

            .attribute {
                position: relative;
                transition: .5s var(--ease-out-cubic);
                font-size: clamp(.9rem, 1.1vw, 1.1rem);
                font-family: var(--secondary-font);

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: attr(data-char);
                    transform: translateY(100%);
                }
            }
        }   

        &:hover, &:focus {
            background-color: var(--dark-green);
            color: var(--white);
        }
        
        &:hover .attribute, &:focus .attribute {
            transform: translateY(-100%);
        }    
    }
}

.preloader {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    @include flex-content(flex, center, center);
    opacity: 1;

    &__logoContainer {
        position: relative;
        overflow: hidden;
        display: inline-block;
        z-index: inherit;
        opacity: 0;
        transform: translateY(70%);

        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #072727c0;
            z-index: 2;
            transform: translateX(0%);
        }

        img {
            width: 10.125rem;
            position: relative;
        }
    }

    &__overlay--green {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--dark-green);
        z-index: 1;
    }

    &__overlay--light {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 115%;
        background-color: var(--light-green);
        z-index: 0;
    }
}

.modal {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: var(--white-000);
    padding: 3rem;
    @include flex-content(flex, flex-end, null);
    flex-direction: column;
    gap: 3rem;
    font-family: var(--secondary-font);
    color: var(--dark-green);
    transition: 1s var(--ease-in-out-quart);
    z-index: 1000;

    @media (max-width: 879px) {
        padding: 1.5rem;
        width: 100%;
        @include flex-content(flex, flex-start, null);
    }

    @media (max-width: 550px) {
        gap: 1.5rem;
    }

    &.active {
        right: 0%;
    }

    &__button {
        position: absolute;
        top: 3rem;
        left: 3rem;

        @media (max-width: 879px) {
            bottom: 1rem;
            left: 1.5rem;
            top: unset;
        }
    }

    &__paragraph {
        font-size: clamp(.9rem, 1.8vw, 1.25rem);
        line-height: 1.5;
    }

    &__paragraph2 {
        font-size: clamp(.8rem, 1.2vw, 0.9rem);
        line-height: 1.5;
    }

    &__image {
        height: 15rem;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        @media (max-width: 1162px) {
            height: 10rem;
        }

        @media (max-width: 879px) {
            height: 15rem;
        }

        @media (max-width: 409px) {
            height: 9rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__button {
        background-color: transparent;
        border: 0;
        outline: none;
        background-color: var(--white);
        @include flex-content(flex, center, center);
        padding: .9rem;
        border-radius: 10px;
        cursor: pointer;

        img {
            width: 1rem;
            aspect-ratio: 1/1;
        }
    }
}