@use "../config/config" as *;

.offers {
    background-color: var(--dark-green);
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--white);
    padding: 5rem 3rem;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    overflow: hidden;
    z-index: -1;
    

    @media (max-width: 768px) {
        padding: 5rem 1.5rem;
    }

    &__wrapper {
        width: 100%;

        .offers__heading {
            overflow: hidden;
            line-height: .9;
            margin-bottom: 2rem;

            span {
                font-size: clamp(1rem, 1.1vw, 1.2rem);
                text-transform: uppercase;
                font-family: var(--secondary-font);
                font-weight: 400;
                transform: translateY(0%);
                display: inline-block;
            }
        }

        .offers__mainParagraph {
            @include flex-content(flex, null, null);
            flex-direction: column;
            margin-bottom: 2rem;

            .text__wrapper {
                overflow: hidden;
                line-height: 1.1;
                margin: .1rem 0;

                span {
                    font-family: var(--secondary-font);
                    font-size: clamp(.9rem, 3vw, 2.87rem);
                    white-space: nowrap;
                }
            }
        }

        .offers__cards {
            width: 100%;
            @include flex-content(flex, space-between, flex-start);
            flex-wrap: wrap;
            row-gap: 2rem;
            margin-top: 4rem;

            .card {
                flex-basis: 24%;
                text-align: left;
                background-color: var(--beige);
                aspect-ratio: 1/1;
                border-radius: 10px;
                padding: 1rem 1rem 0;

                @media (max-width: 1139px) {
                    flex-basis: 31.5%;
                }

                @media (max-width: 976px) {
                    flex-basis: 45%;
                    aspect-ratio: 1/1;
                }

                @media (max-width: 690px) {
                    flex-basis: 100%;
                    aspect-ratio: 1/.7;
                }

                img {
                    margin-bottom: 1.3rem;
                }

                &__heading {
                    color: var(--dark-green);
                    font-size: clamp(1.1rem, 1.8vw, 1.5rem);
                    font-weight: 400;
                    margin-bottom: 1.3rem;
                }

                &__paragraph {
                    color: var(--light-green);
                    font-size: clamp(.9rem, 1.1vw, 1.125rem);
                    margin-bottom: 1.3rem;
                    line-height: 1.6;
                    white-space: no-wrap;
                }
            }
        }
    }
}